*.a
*.o
*.qm
build/
debug/
release/
Makefile*
qrc_gostcoin.cpp
gostcoin-qt
gostcoind
gostcoind.exe
*.pro.user
.qmake.stash
gostcoin-qt_plugin_import.cpp
object_script.gostcoin-qt.Debug
object_script.gostcoin-qt.Release
.project
.cproject
build*
